.cart {
    text-align: center;
    a {
        text-decoration-line: none;
        color: black;
    }
    h2 {
        font-family: $primary-font;
    }
    div {
        text-align: center;
        .tableID {
            font-weight: bolder;
        }
    }
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
    }
    div p {
        text-align: center;
    }
    .btn {
        font-family: $primary-font;
        border: 1px solid black;
        border-radius: 50px;
        padding: 5px 10px 5px 10px;
        margin-bottom: 15px;
    }
}