.menu {
    .item {
        text-align: center;
        .title {
            font-family: $primary-font;
            font-size: 1.2em;
        }
        .description {
            font-family: $secondary-font;
        }
        .price {
            font-family: $secondary-font;
        }
        .btn {
            font-family: $primary-font;
            border: 1px solid black;
            border-radius: 50px;
            padding: 5px 10px 5px 10px;
            margin-bottom: 15px;    
        }
    }
}