@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;

$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Raleway', sans-serif;

@import 'layout';
@import 'header';
@import 'nav';
@import 'cart';
@import 'menu';

body {
    background-image: url('https://static1.squarespace.com/static/5759eb66f850825cdd4defba/578312c7d482e940edd020ea/57831560d2b857a8dd9acf9b/1468208487723/background2-1.jpg?format=2500w');
    background-repeat: no-repeat repeat;
    background-size: 100%;
}